<div class="blocker"></div>
<div class="home-container" >
<div class="abs">
<h4 class="white lefted">Move using</h4>
<div class="keys"></div>
</div>
</div>

<%# link_to "Meet the wall", wall_path %>

<canvas id="bg"></canvas>