<div class="blocker"></div>
<div class="home-container" >
<div class="abs">
<div class="gif"></div>
<div class="gif-arrowleft"></div>
<div class="gif-arrowright"></div>
<div class="gif-arrowtop"></div>
<div class="gif-arrowbot"></div>
<div class="gif-distortion"></div>
</div>
</div>

<%# link_to "Meet the wall", wall_path %>

<canvas id="bg"></canvas>