<div class="blocker"></div>
<div class="home-container" >
<div class="abs">
<div class="gif"></div>
<div class="hidden-btn"><%= link_to "Improve Your Ruby Skills", wall_path,:id => "link" %></div>
<div class="gif-distortion"></div>
</div>
</div>

<%# link_to "Meet the wall", wall_path %>

<canvas id="bg"></canvas>